data/
logs/
catboost_info/
protein-matching-IPR005535.tsv
temp_snakin_clstr.fasta
temp_snakin_clstr.fasta.clstr
Training_Workflow.txt
temp_snakin.fasta
Multiclass_Peptide_Family_Predictor_Idea.txt
Future_Improvements.md
